blogger.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="knowledgespace">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="blogger">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="name" type="xs:string" />
							<xs:element name="email" type="xs:string" />
                            <xs:element name="job" type="xs:string" />
							<xs:element name="phn_no" type="xs:unsignedLong" />
							<xs:element name="no_of_posts" type="xs:positiveInteger" />
						</xs:sequence>
						<xs:attribute name="bid" type="xs:unsignedShort" use="required" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>